@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 800px;
}

:root {
  --font-title: "Lato", sans-serif;
  --font-text: "Lilita One", cursive;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5625rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1.125rem;

  --font-size-text1: 1.125rem;
  --font-size-text2: 1rem;
  --font-size-text3: 0.875rem;
  --font-size-text4: 0.75rem;

  --color-red: #f43127;
  --color-yellow: #f59a1b;
  --color-beige: #fae2cb;
  --color-title-black-38: rgba(29, 6, 5, 0.4);
  --color-brown: #3b200b;
  --color-title-black-87: #34201f;
  --color-title-black-60: #635352;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner-menu {
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(5px);
}

.banner-hero {
  background: url("../banner-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 41rem;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navigation .menu ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.navigation .menu ul a {
  text-decoration: none;
  font-family: var(--font-title);
  line-height: 25px;
  font-size: var(--font-size-text1);
  color: var(--color-title-black-60);
}

.navigation .menu ul a.active {
  font-weight: 700;
  line-height: 25px;
  color: var(--color-title-black-87);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}

.contact-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-icon img {
  width: 27px;
}

.contact-icon::after {
  content: "";
  display: block;
  height: 47px;
  width: 1px;
  background-color: #b50b04;
}

.contact-whats {
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--color-yellow);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.contact-whats p {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-text2);
  line-height: 25px;
  color: var(--color-title-black-87);
}

.contact-whats img {
  width: 24px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
}

.banner-text h3 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-h3);
  line-height: 23px;
  color: rgba(29, 6, 5, 0.9);
}

.banner-text h1 {
  font-family: var(--font-text);
  font-size: 4.875rem;
  line-height: 85px;
  text-transform: uppercase;
  color: var(--color-yellow);
}

.banner-text h1 span {
  color: var(--color-brown);
}

.banner-text p {
  font-family: var(--font-title);
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: 32px;
  color: rgba(29, 6, 5, 0.69);
}

.banner-text p span {
  display: inline-block;
  font-weight: 900;
  background-color: var(--color-yellow);
  padding: 0 4px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.banner-text a {
  /* display: inline-block; */
  text-decoration: none;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-h3);
  line-height: 32px;
  color: #fff;
  padding: 10px 20px;
  background: var(--color-red);
  border-radius: 5px;
}

.banner-info {
  display: flex;
  width: 60rem;
  align-items: center;
  gap: 18px;
  padding: 26px 20px;

  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  border-radius: 10px;

  position: absolute;
  bottom: -145px;
  left: 50%;

  transform: translate(-50%, -50%);
}

.banner-info--content {
  display: flex;
  gap: 18px;
  align-items: center;
  position: relative;
}

.banner-info--content:nth-child(2)::after,
.banner-info--content:nth-child(2)::before {
  content: " ";
  width: 1px;
  height: 80px;
  background-color: rgba(73, 46, 21, 0.15);
  margin: 0 20px;
}

.banner-info--img {
  background-color: var(--color-beige);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-info--img img {
  width: 31px;
  height: 31px;
}

.banner-info--desc {
  max-width: 160px;
}

.banner-info--desc h3 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: var(--font-size-h3);
  line-height: 22px;
  text-transform: uppercase;

  color: rgba(29, 6, 5, 0.9);
  margin-bottom: 6px;
}

.banner-info--desc p {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--font-size-text2);
  line-height: 19px;

  color: rgba(29, 6, 5, 0.69);

  opacity: 0.6;
}

.principal {
  padding-top: 130px;
}

.ofertas-especiais h2 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;

  color: rgba(29, 6, 5, 0.9);
}

.ofertas-especiais p {
  font-family: var(--font-title);
  font-size: var(--font-size-text2);
  line-height: 22px;
  color: rgba(29, 6, 5, 0.69);
}

.ofertas-galeria {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "principal secundaria"
    "principal terciaria";
  margin-top: 16px;
}

.oferta-principal {
  grid-area: principal;
}
.oferta-secundaria {
  grid-area: secundaria;
}
.oferta-terciaria {
  grid-area: terciaria;
}
