@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  width: 100%;
}

body {
  background-color: #faf3f2;
}

:root {
  --font-title: "Lato", sans-serif;
  --font-text: "Lilita One", cursive;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5625rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1.125rem;

  --font-size-text1: 1.125rem;
  --font-size-text2: 1rem;
  --font-size-text3: 0.875rem;
  --font-size-text4: 0.75rem;

  --color-red: #f43127;
  --color-yellow: #f59a1b;
  --color-beige: #fae2cb;
  --color-title-black-38: rgba(29, 6, 5, 0.4);
  --color-brown: #3b200b;
  --color-title-black-87: #34201f;
  --color-title-black-60: #635352;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner-menu {
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(5px);
}

.banner-hero {
  background: url("../banner-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 41rem;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 60px;
}

.navigation .menu ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.navigation .menu ul a {
  text-decoration: none;
  font-family: var(--font-title);
  line-height: 25px;
  font-size: var(--font-size-text1);
  color: var(--color-title-black-60);
}

.active {
  font-weight: 700;
  line-height: 25px;
  color: var(--color-title-black-87);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}

.contact-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-icon img {
  width: 27px;
}

.contact-icon::after {
  content: "";
  display: block;
  height: 47px;
  width: 1px;
  background-color: #b50b04;
}

.contact-whats {
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--color-yellow);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.contact-whats p {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-text2);
  line-height: 25px;
  color: var(--color-title-black-87);
}

.contact-whats img {
  width: 24px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
}

.banner-text h3 {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-h3);
  line-height: 23px;
  color: rgba(29, 6, 5, 0.9);
}

.banner-text h1 {
  font-family: var(--font-text);
  font-size: 4.875rem;
  line-height: 85px;
  text-transform: uppercase;
  color: var(--color-yellow);
}

.banner-text h1 span {
  color: var(--color-brown);
}

.banner-text p {
  font-family: var(--font-title);
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: 32px;
  color: rgba(29, 6, 5, 0.69);
}

.banner-text p span {
  display: inline-block;
  font-weight: 900;
  background-color: var(--color-yellow);
  padding: 0 4px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.banner-text a {
  /* display: inline-block; */
  text-decoration: none;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: var(--font-size-h3);
  line-height: 32px;
  color: #fff;
  padding: 10px 20px;
  background: var(--color-red);
  border-radius: 5px;
}

.banner-info {
  display: flex;
  width: 970px;
  align-items: center;
  justify-content: space-between;

  gap: 18px;
  padding: 26px 20px;

  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  border-radius: 10px;

  position: absolute;
  bottom: -145px;
  left: 50%;

  transform: translate(-50%, -50%);
}

.banner-info--content {
  display: flex;
  gap: 18px;
  align-items: center;
}

.banner-info--content:nth-child(2) {
  border-right: 1px solid rgba(73, 46, 21, 0.15);
  border-left: 1px solid rgba(73, 46, 21, 0.15);
  padding: 0 50px;
}

.banner-info--img {
  background-color: var(--color-beige);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-info--img img {
  width: 31px;
  height: 31px;
}

.banner-info--desc {
  width: 170px;
}

.banner-info--desc h3 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: var(--font-size-h3);
  line-height: 22px;
  text-transform: uppercase;

  color: rgba(29, 6, 5, 0.9);
  margin-bottom: 6px;
}

.banner-info--desc p {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: var(--font-size-text2);
  line-height: 19px;

  color: rgba(29, 6, 5, 0.69);

  opacity: 0.6;
}

.principal {
  padding-top: 130px;
}

.ofertas-especiais h2 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;

  color: rgba(29, 6, 5, 0.9);
}

.ofertas-especiais p {
  font-family: var(--font-title);
  font-size: var(--font-size-text2);
  line-height: 22px;
  color: rgba(29, 6, 5, 0.69);
}

.ofertas-galeria {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "principal secundaria"
    "principal terciaria";
  margin-top: 16px;
}

.oferta-principal {
  grid-area: principal;
  position: relative;
}

.principal-top {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
}

.principal-top p {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
}

.principal-top span {
  font-family: var(--font-title);
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.69);
}

.principal-bottom {
  position: absolute;
  z-index: 999;
  bottom: 25px;
  right: 25px;
}

.principal-bottom span {
  font-family: var(--font-title);
  font-size: 23px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.69);
}

.principal-bottom p {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 42px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 6px;
}

.oferta-secundaria {
  grid-area: secundaria;
  position: relative;
}
.oferta-terciaria {
  grid-area: terciaria;
  position: relative;
}

.principal-top.small {
  top: 15px;
}

.small p {
  font-size: 22px;
  color: rgba(29, 6, 5, 0.9);
}
.small span {
  font-size: 18px;
  color: rgba(29, 6, 5, 0.9);
}

.horario-funcionamento {
  display: flex;
  align-items: center;
  margin-top: 64px;
  gap: 30px;
}

.horario-funcionamento-details {
  display: flex;
  gap: 30px;
  background-color: var(--color-red);
  border-radius: 10px;
  max-width: 570px;
  padding: 18px 22px;
}

.horario-funcionamento-details .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 6, 5, 0.2);
  width: 94px;
  height: 94px;
  border-radius: 50%;
}

.description h3 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.69);
  margin-bottom: 6px;
}

.icon {
  position: relative;
}

.icon::after {
  content: "";
  height: 90px;
  width: 1px;
  background-color: rgba(29, 6, 5, 0.4);
  position: absolute;
  left: 108px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description p {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.85);
}

.horario-funcionamento-insta p:first-child {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(29, 6, 5, 0.69);
}
.horario-funcionamento-insta p:last-child {
  font-family: var(--font-text);
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: var(--color-red);
}

.onde-fica-title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 32px;
}

.onde-fica-title h2 {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  color: rgba(29, 6, 5, 0.9);
  margin-bottom: 4px;
}

.onde-fica-title p {
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(29, 6, 5, 0.69);
}

.onde-fica-nosso-castelo iframe {
  width: 100vw;
  height: 200px;
}

.footer-content {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.menu-sociais {
  display: flex;
  gap: 150px;
  text-align: center;
}

.footer-content .menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer-content .menu ul a {
  text-decoration: none;
  display: block;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #3a210b;
}

.footer-sociais {
  display: flex;
  gap: 12px;
}

.footer-sociais img {
  height: 27px;
}

.footer-copy {
  padding: 12px 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(2, 14, 31, 0.3);
  border-top: 1px solid rgba(29, 6, 5, 0.15);
}

.footer-copy span {
  font-weight: 700;
  color: rgba(2, 14, 31, 0.69);
}
